xml-resources/web-service-references/SWConversor/wsdl/localhost_8080/AplicacionSWConversor/SWConversor.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://conversor/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://conversor/" name="SWConversor">
<types>
<xsd:schema>
<xsd:import namespace="http://conversor/" schemaLocation="http://localhost:8080/AplicacionSWConversor/SWConversor?xsd=1"/>
</xsd:schema>
</types>
<message name="dol_lib">
<part name="parameters" element="tns:dol_lib"/>
</message>
<message name="dol_libResponse">
<part name="parameters" element="tns:dol_libResponse"/>
</message>
<message name="dol_pes">
<part name="parameters" element="tns:dol_pes"/>
</message>
<message name="dol_pesResponse">
<part name="parameters" element="tns:dol_pesResponse"/>
</message>
<message name="dol_eur">
<part name="parameters" element="tns:dol_eur"/>
</message>
<message name="dol_eurResponse">
<part name="parameters" element="tns:dol_eurResponse"/>
</message>
<portType name="SWConversor">
<operation name="dol_lib">
<input wsam:Action="http://conversor/SWConversor/dol_libRequest" message="tns:dol_lib"/>
<output wsam:Action="http://conversor/SWConversor/dol_libResponse" message="tns:dol_libResponse"/>
</operation>
<operation name="dol_pes">
<input wsam:Action="http://conversor/SWConversor/dol_pesRequest" message="tns:dol_pes"/>
<output wsam:Action="http://conversor/SWConversor/dol_pesResponse" message="tns:dol_pesResponse"/>
</operation>
<operation name="dol_eur">
<input wsam:Action="http://conversor/SWConversor/dol_eurRequest" message="tns:dol_eur"/>
<output wsam:Action="http://conversor/SWConversor/dol_eurResponse" message="tns:dol_eurResponse"/>
</operation>
</portType>
<binding name="SWConversorPortBinding" type="tns:SWConversor">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="dol_lib">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dol_pes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dol_eur">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SWConversor">
<port name="SWConversorPort" binding="tns:SWConversorPortBinding">
<soap:address location="http://localhost:8080/AplicacionSWConversor/SWConversor"/>
</port>
</service>
</definitions>